html, body {
    margin: 0;
    padding: 0;
}

.logo__img-wrapper {
  border: 1px solid #daa37d;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  background: #fff;
}
.logo__img {
  width: 100%;
}
.logo__text {
  font-size: 28px;
  margin-left: 20px;
  color: #804a24;
}
button a {
  color: #fff;
  text-decoration: none;
}
